.wrapper {
    margin: 1em auto;
    padding: 0;
    width: 960px;
    border: 2px solid black;
    background-color: tan;
    display: grid;
    border-radius: 10px;
    grid-template-columns: repeat(12, 1fr);
  }
  p {margin: 10px;
    padding: 10px;
  display:block;
  border: 1px solid #e7a941;
  border-radius: 10px;
  background-color: darkolivegreen;
  color: #e7a941;
  width: 200px;}
body {font-family: 'Roboto Condensed', sans-serif;
  background-image: url(yellowandgreen.jpeg);}
h1 {padding: 25px;
        text-align: center;
        margin: 20px;
        grid-column: span 12;
        border: 2px solid black;
        padding: 20px;
        text-shadow: 2px 2px 2px #000; /* x, y, blur, color */
        color: #e7a941;
        border-radius: 10px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        background-color: olive;
        font-weight: bold;}
h2 {grid-column: span 6;
margin: 10px;
display: block;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
color: black;
text-align: center;}
audio {background-color:#e7a941;
      border-radius: 10px;
      margin: 10px 10px 20px 50px;
      border: 2px solid darkolivegreen;
      color: aqua;
      padding: 20px;}
.personalpr {grid-column: span 6;
        border: 2px solid black;
        background-color: olive;
        box-shadow: -10px -10px 1px darkolivegreen; /* x, y, blur, color */
        margin: 20px;
        list-style-type: none;
        border-radius: 10px;
        }
        .personalpro {grid-column: span 12;
          border: 2px solid black;
          background-color: #e7a941;
          box-shadow: -10px -10px 1px darkolivegreen; /* x, y, blur, color */
          margin: 20px 50px 20px 50px;
          list-style-type: none;
          border-radius: 10px;
          }
.icons {color: #e7a941;
  float: left;
margin: 5px;}
a {text-decoration: none;
color: #fcba03;
display: block;
background-color: darkolivegreen;
border: 2px solid black;
border-radius: 10px;
height: 30px;
font-size: 25px;
text-align: center;
width: 175px;
transition: all .5s;
padding: 5px;
margin: 12px;
float: left;}
a:hover {background-color: #a17602;
color: darkolivegreen;}
footer {grid-column: span 12;
  display: block;
  border-bottom-left-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 10px;
  border: 1px solid black;
  border-bottom-right-radius: 10px;
  background-color: #e7a941;}

  li a {font-size: medium;
    text-align: center;
    padding-top: 15px;
  }

    